.nav {
  grid-area: nav;
  background-color: tomato;
  padding: 20px;
}

.item {
  color: white;
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.active {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

/* === Friends === */

.friends {

}

.friends__title {
  color: #fff;
  font-size: 24px;
  margin: 30px 0 30px 0;
  padding: 0;
}

.friends__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* === Friend === */

.friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 65px;
  border-radius: 50%;
}

.name {
  margin-top: 5px;
}

.name:hover {
  text-decoration: underline;
}