.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* .dialogsItems .active {
  color: black;
  font-weight: 700;
} */

.dialog {
  color: white;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.dialog:last-child {
  margin-bottom: 0;
}

.dialog:hover {
  text-decoration: underline;
}

.messages {
  padding: 10px;
}

.message {
  text-align: right;
}

.avatar {
  width: 65px;
  border-radius: 50%;
  margin-right: 15px;
}
