.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* .dialogsItems .active {
  color: black;
  font-weight: 700;
} */

.dialog {
  color: white;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.dialog:last-child {
  margin-bottom: 0;
}

.dialog:hover {
  text-decoration: underline;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .message {
} */

.avatar {
  width: 65px;
  border-radius: 50%;
  margin-right: 15px;
}

.send_message {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.textarea {
  resize: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.send_button {
  margin-left: 15px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  height: 100%;
  display: inline-block;
}
